@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #686968;
    color: white;

}


.main-title {
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    margin-top: 1em;
    margin-left: 25%;
    margin: 1em 6.7em 0em 10em;
    text-align: center;
    color: #e4e4e4;
    border: 1px #222322;
    


}

.logo-navbar {
    width: 100px;



}

.navbar {
    background-image: linear-gradient(to bottom, #222322, #323332, #434443, #555655, #686968);
    margin: -20px -8px 15px -8px;
    display: flex;
    justify-content: end;


}

.navbar a{
    height: 1.5em;
    width: 3em;
    margin-top: auto;
    text-align: center;
    
}

.about-button-1,
.contact-button-1,
.rules-button-1,
.games-button-1 {

    font-size: 20px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #5c37c4;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}

.home-button-1 {
    font-size: 20px;
    margin: 10px 10px 00px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #4739e2;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}

.img-navbar {
    position: relative;
    left: 40em;
    border-radius: 25px;
}

.img-logo {
    width: 250px;
}

.subtitle {
    text-align: center;
    padding: 10px;
    font-size: 2em;
    font-weight: 700;
    width: 500px;
    margin-left: 21.7em;
    border-radius: 50px;
    background-color: #d4d3d3;
    color: #040404;

}

.section-main {
    display: flex;
    margin-left: 35em;
    margin-top: 4em;


}

.information-aside {
    margin-top: 2em;
    padding-left: 10em;
}

.paragraphs {
    margin-left: 15px;
    margin-top: -15px;
}

.home-button-2,
.contact-button-2,
.games-button-2,
.rules-button-2 {
    font-size: 20px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #5c37c4;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}

.about-button-2 {
    font-size: 20px;
    margin: 10px 10px 00px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #4739e2;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}


.home-button-3,
.about-button-3,
.games-button-3,
.rules-button-3 {
    font-size: 20px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #5c37c4;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}

.contact-button-3 {
    font-size: 20px;
    margin: 10px 10px 00px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #4739e2;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);

}

.home-button-4,
.about-button-4,
.contact-button-4,
.rules-button-4 {
    font-size: 20px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #5c37c4;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}

.games-button-4 {
    font-size: 20px;
    margin: 10px 10px 00px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #4739e2;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);

}

.home-button-5,
.about-button-5,
.contact-button-5,
.games-button-5 {
    font-size: 20px;
    margin: 10px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #5c37c4;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
}

.rules-button-5 {
    font-size: 20px;
    margin: 10px 10px 00px 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffff;
    background-color: #4739e2;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.66);

}

.rules-subtitle {
    margin-left: 39%;
    
}
.rules-section {
    margin-left: 3em;
}

.mayor-titles {
    font-weight: bold;
}

.paragraph-list {
    font-weight: 300;
}

.unorderlist {
    list-style-type: circle;
}

th {
text-align: start;
padding: 10px;
font-weight: bold;
}

td {
    padding: 5px;
    width: 10em;

}

.games-table {
    margin: auto;
    font-size: 20px;
}

.rules-subtitle-2 {
    margin-left: 39%;
    text-decoration: underline;

}

.table-title {
    font-weight: bold;
    
}

.second-table{
    width: auto;

}

.information-table {
    font-size: 20px;
    margin-left: 26%;
    margin-top: 2em;


}

.contact-table {
    font-size: 20px;
    margin: auto;
    margin-top: 2em;
}